<section class="orders-show">

  <header class="page-header">

  </header>


    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
         <tbody>
    <% @order.line_items.each do |i| %>

      <%= render 'line_items', product: i.product, quantity: i.quantity %>
        
    <% end %>
     </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>
  </div>
              
    <h4>Thank you <%= @order.email %> for your order!</h4>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
